APP_NAME = {{ getenv "GITEA_APP_NAME" "Gitea: Git with a cup of tea" }}
RUN_MODE = {{ getenv "GITEA_RUN_MODE" "prod" }}
RUN_USER = git

[repository]
ROOT = /opt/app/data/repos
SCRIPT_TYPE = bash
{{- if getenv "GITEA_REPO_ANSI_CHARSET" }}
ANSI_CHARSET = {{ getenv "GITEA_REPO_ANSI_CHARSET" }}
{{- end }}
FORCE_PRIVATE = {{ getenv "GITEA_REPO_FORCE_PRIVATE" "false" | conv.ToBool }}
DEFAULT_PRIVATE = {{ getenv "GITEA_REPO_DEFAULT_PRIVATE" "last" }}
MAX_CREATION_LIMIT = {{ getenv "GITEA_REPO_MAX_CREATION_LIMIT" "-1" }}
PREFERRED_LICENSES = {{ getenv "GITEA_REPO_PREFERRED_LICENSES" "Apache License 2.0,MIT License" }}
DISABLE_HTTP_GIT = {{ getenv "GITEA_REPO_DISABLE_HTTP_GIT" "false" | conv.ToBool }}
{{- if getenv "GITEA_REPO_ACCESS_CONTROL_ALLOW_ORIGIN" }}
ACCESS_CONTROL_ALLOW_ORIGIN = {{ getenv "GITEA_REPO_ACCESS_CONTROL_ALLOW_ORIGIN" }}
{{- end }}
USE_COMPAT_SSH_URI = {{ getenv "GITEA_REPO_USE_COMPAT_SSH_URI" "false" | conv.ToBool }}
DEFAULT_CLOSE_ISSUES_VIA_COMMITS_IN_ANY_BRANCH = {{ getenv "GITEA_REPO_DEFAULT_CLOSE_ISSUES_VIA_COMMITS_IN_ANY_BRANCH" "false" | conv.ToBool }}

[repository.editor]
LINE_WRAP_EXTENSIONS = {{ getenv "GITEA_REPO_EDITOR_LINE_WRAP_EXTENSIONS" ".txt,.md,.markdown,.mdown,.mkd" }}
PREVIEWABLE_FILE_MODES = {{ getenv "GITEA_REPO_EDITOR_PREVIEWABLE_FILE_MODES" "markdown" }}

[repository.local]
LOCAL_COPY_PATH = /tmp/gitea/repo

[repository.upload]
ENABLED = {{ getenv "GITEA_REPO_UPLOAD_ENABLED" "true" | conv.ToBool }}
TEMP_PATH = /tmp/gitea/upload
{{- if getenv "GITEA_REPO_UPLOAD_ALLOWED_TYPES" }}
ALLOWED_TYPES = {{ getenv "GITEA_REPO_UPLOAD_ALLOWED_TYPES" }}
{{- end }}
FILE_MAX_SIZE = {{ getenv "GITEA_REPO_UPLOAD_FILE_MAX_SIZE" "3" }}
MAX_FILES = {{ getenv "GITEA_REPO_UPLOAD_MAX_FILES" "5" }}

[repository.pull-request]
WORK_IN_PROGRESS_PREFIXES = {{ getenv "GITEA_REPO_PULL_REQUEST_WIP_PREFIXES" "WIP:,[WIP]" }}

[repository.issue]
LOCK_REASONS = {{ getenv "GITEA_REPO_ISSUE_LOCK_REASONS" "Heated,Offtopic,Resolved,Spam" }}

[cors]
ENABLED = {{ getenv "GITEA_CORS_ENABLED" "false" | conv.ToBool }}
SCHEME = {{ getenv "GITEA_CORS_SCHEME" "http" }}
ALLOW_DOMAIN = {{ getenv "GITEA_CORS_ALLOW_DOMAIN" "*" }}
ALLOW_SUBDOMAIN = {{ getenv "GITEA_CORS_ALLOW_SUBDOMAIN" "false" | conv.ToBool }}
METHODS = {{ getenv "GITEA_CORS_METHODS" "GET,HEAD,POST,PUT,PATCH,DELETE,OPTIONS" }}
MAX_AGE = {{ getenv "GITEA_CORS_MAX_AGE" "10m" }}
ALLOW_CREDENTIALS = {{ getenv "GITEA_CORS_ALLOW_CREDENTIALS" "false" | conv.ToBool }}

[ui]
EXPLORE_PAGING_NUM = {{ getenv "GITEA_UI_EXPLORE_PAGING_NUM" "20" }}
ISSUE_PAGING_NUM = {{ getenv "GITEA_UI_ISSUE_PAGING_NUM" "10" }}
FEED_MAX_COMMIT_NUM = {{ getenv "GITEA_UI_FEED_MAX_COMMIT_NUM" "5" }}
GRAPH_MAX_COMMIT_NUM = {{ getenv "GITEA_UI_GRAPH_MAX_COMMIT_NUM" "20" }}
CODE_COMMENT_LINES = {{ getenv "GITEA_UI_CODE_COMMENT_LINES" "4" }}
THEME_COLOR_META_TAG = `{{ getenv "GITEA_UI_THEME_COLOR_META_TAG" "#6cc644" }}`
MAX_DISPLAY_FILE_SIZE = {{ getenv "GITEA_UI_MAX_DISPLAY_FILE_SIZE" "8388608" }}
SHOW_USER_EMAIL = {{ getenv "GITEA_UI_SHOW_USER_EMAIL" "true" | conv.ToBool }}
DEFAULT_THEME = {{ getenv "GITEA_UI_DEFAULT_THEME" "gitea" }}
THEMES = {{ getenv "GITEA_UI_THEMES" "gitea,arc-green" }}
DEFAULT_SHOW_FULL_NAME = {{ getenv "GITEA_UI_DEFAULT_SHOW_FULL_NAME" "false" | conv.ToBool }}
SEARCH_REPO_DESCRIPTION = {{ getenv "GITEA_UI_SEARCH_REPO_DESCRIPTION" "true" | conv.ToBool }}

[ui.admin]
USER_PAGING_NUM = {{ getenv "GITEA_UI_ADMIN_USER_PAGING_NUM" "50" }}
REPO_PAGING_NUM = {{ getenv "GITEA_UI_ADMIN_REPO_PAGING_NUM" "50" }}
NOTICE_PAGING_NUM = {{ getenv "GITEA_UI_ADMIN_NOTICE_PAGING_NUM" "25" }}
ORG_PAGING_NUM = {{ getenv "GITEA_UI_ADMIN_ORG_PAGING_NUM" "50" }}

[ui.user]
REPO_PAGING_NUM = {{ getenv "GITEA_UI_USER_REPO_PAGING_NUM" "15" }}

[ui.meta]
AUTHOR = {{ getenv "GITEA_UI_META_AUTHOR" "Gitea - Git with a cup of tea" }}
DESCRIPTION = {{ getenv "GITEA_UI_META_DESCRIPTION" "Gitea (Git with a cup of tea) is a painless self-hosted Git service written in Go" }}
KEYWORDS = {{ getenv "GITEA_UI_META_KEYWORDS" "go,git,self-hosted,gitea" }}

[markdown]
ENABLE_HARD_LINE_BREAK = {{ getenv "GITEA_MARKDOWN_ENABLE_HARD_LINE_BREAK" "true" | conv.ToBool }}
CUSTOM_URL_SCHEMES = {{ getenv "GITEA_MARKDOWN_CUSTOM_URL_SCHEMES" "false" | conv.ToBool }}
FILE_EXTENSIONS = {{ getenv "GITEA_MARKDOWN_FILE_EXTENSIONS" ".md,.markdown,.mdown,.mkd" }}

[server]
PROTOCOL = http
DOMAIN = {{ getenv "GITEA_SERVER_DOMAIN" "localhost" }}
ROOT_URL = {{ getenv "GITEA_SERVER_ROOT_URL" "http://localhost" }}
HTTP_ADDR = 0.0.0.0
HTTP_PORT = 3000
LOCAL_ROOT_URL = %(PROTOCOL)s://%(HTTP_ADDR)s:%(HTTP_PORT)s/
DISABLE_SSH = false
START_SSH_SERVER = true
SSH_PORT = 2222
SSH_ROOT_PATH=/opt/app/data/ssh
SSH_CREATE_AUTHORIZED_KEYS_FILE = {{ getenv "GITEA_SERVER_SSH_CREATE_AUTHORIZED_KEYS_FILE" "true" | conv.ToBool }}
{{- if getenv "GITEA_SERVER_SSH_SERVER_CIPHERS" }}
SSH_SERVER_CIPHERS = {{ getenv "GITEA_SERVER_SSH_SERVER_CIPHERS" }}
{{- end }}
{{- if getenv "GITEA_SERVER_SSH_SERVER_KEY_EXCHANGES" }}
SSH_SERVER_KEY_EXCHANGES = {{ getenv "GITEA_SERVER_SSH_SERVER_KEY_EXCHANGES" }}
{{- end }}
{{- if getenv "GITEA_SERVER_SSH_SERVER_MACS" }}
SSH_SERVER_MACS = {{ getenv "GITEA_SERVER_SSH_SERVER_MACS" }}
{{- end }}
SSH_BACKUP_AUTHORIZED_KEYS = {{ getenv "GITEA_SERVER_SSH_BACKUP_AUTHORIZED_KEYS" "true" | conv.ToBool }}
SSH_EXPOSE_ANONYMOUS = {{ getenv "GITEA_SERVER_SSH_EXPOSE_ANONYMOUS" "false" | conv.ToBool }}
SSH_SERVER_HOST_KEYS = ssh/gitea.ed25519,ssh/gitea.rsa,ssh/gogs.rsa
MINIMUM_KEY_SIZE_CHECK = {{ getenv "GITEA_SERVER_MINIMUM_KEY_SIZE_CHECK" "false" | conv.ToBool }}
OFFLINE_MODE = {{ getenv "GITEA_SERVER_OFFLINE_MODE" "false" | conv.ToBool }}
DISABLE_ROUTER_LOG = {{ getenv "GITEA_SERVER_DISABLE_ROUTER_LOG" "false" | conv.ToBool }}
APP_DATA_PATH = /opt/app/data
ENABLE_GZIP = {{ getenv "GITEA_SERVER_ENABLE_GZIP" "false" | conv.ToBool }}
ENABLE_PPROF = {{ getenv "GITEA_SERVER_ENABLE_PPROF" "false" | conv.ToBool }}
PPROF_DATA_PATH = /opt/app/data/pprof
LANDING_PAGE = {{ getenv "GITEA_SERVER_LANDING_PAGE" "home" }}
LFS_START_SERVER = {{ getenv "GITEA_SERVER_LFS_START_SERVER" "false" | conv.ToBool }}
{{- if getenv "GITEA_SERVER_LFS_JWT_SECRET" }}
LFS_JWT_SECRET = {{ getenv "GITEA_SERVER_LFS_JWT_SECRET" }}
{{- end }}
LFS_HTTP_AUTH_EXPIRY = {{ getenv "GITEA_SERVER_LFS_HTTP_AUTH_EXPIRY" "20m" }}

[ssh.minimum_key_sizes]
ED25519 = {{ getenv "GITEA_SSH_MINIMUM_KEY_SIZES_ED25519" "256" }}
ECDSA = {{ getenv "GITEA_SSH_MINIMUM_KEY_SIZES_ECDSA" "256" }}
RSA = {{ getenv "GITEA_SSH_MINIMUM_KEY_SIZES_RSA" "2048" }}
DSA = -1

[database]
DB_TYPE = {{ getenv "GITEA_DATABASE_TYPE" "sqlite3" }}

{{- if eq (getenv "GITEA_DATABASE_TYPE") "mysql" }}
HOST = {{ getenv "GITEA_DATABASE_HOST" }}
NAME = {{ getenv "GITEA_DATABASE_NAME" "gitea" }}
USER = {{ getenv "GITEA_DATABASE_USERNAME" }}
PASSWD = `{{ getenv "GITEA_DATABASE_PASSWORD" }}`
SSL_MODE = {{ getenv "GITEA_DATABASE_SSL" "false" | conv.ToBool }}
CHARSET = {{ getenv "GITEA_DATABASE_CHARSET" "utf8mb4" }}
{{- end }}

{{- if eq (getenv "GITEA_DATABASE_TYPE" "sqlite3") "sqlite3" }}
PATH = /opt/app/data/db/gitea.db
SQLITE_TIMEOUT = {{ getenv "GITEA_DATABASE_TIMEOUT" "500" }}
{{- end }}

ITERATE_BUFFER_SIZE = {{ getenv "GITEA_DATABASE_ITERATE_BUFFER_SIZE" "50" }}
LOG_SQL = {{ getenv "GITEA_DATABASE_LOG_SQL" "true" | conv.ToBool }}
DB_RETRIES = {{ getenv "GITEA_DATABASE_RETRIES" "10" }}
DB_RETRY_BACKOFF = {{ getenv "GITEA_DATABASE_RETRY_BACKOFF" "3s" }}
MAX_IDLE_CONNS = {{ getenv "GITEA_DATABASE_MAX_IDLE_CONNS" "2" }}
CONN_MAX_LIFETIME = {{ getenv "GITEA_DATABASE_CONN_MAX_LIFETIME" "3s" }}
MAX_OPEN_CONNS = {{ getenv "GITEA_DATABASE_MAX_OPEN_CONNS" "0" }}

[indexer]
ISSUE_INDEXER_TYPE = bleve
ISSUE_INDEXER_PATH = /opt/app/data/indexers/issues.bleve
{{- if getenv "GITEA_INDEXER_ISSUE_QUEUE_CONN_STR" }}
ISSUE_INDEXER_QUEUE_CONN_STR = "addrs={{ getenv "GITEA_INDEXER_ISSUE_QUEUE_CONN_STR" }}"
{{- end }}
REPO_INDEXER_ENABLED = {{ getenv "GITEA_INDEXER_REPO_ENABLED" "false" | conv.ToBool }}
REPO_INDEXER_PATH = /opt/app/data/indexers/repos.bleve
MAX_FILE_SIZE = {{ getenv "GITEA_INDEXER_MAX_FILE_SIZE" "1048576" }}

[queue.issue_indexer]
DATADIR = /opt/app/data/indexers/issues.queue
BATCH_LENGTH = {{ getenv "GITEA_QUEUE_ISSUE_INDEXER_BATCH_LENGTH" "20" }}
LENGTH = {{ getenv "GITEA_QUEUE_ISSUE_INDEXER_LENGTH" "20" }}

[queue.task]
QUEUE_TYPE = {{ getenv "GITEA_QUEUE_TASK_TYPE" "channel" }}
LENGTH = {{ getenv "GITEA_QUEUE_TASK_LENGTH" "1000" }}

[queue.mailer]
LENGTH = {{ getenv "GITEA_QUEUE_MAILER_LENGTH" "100" }}

[queue.pr_patch_checker]
LENGTH = {{ getenv "GITEA_QUEUE_PR_PATCH_CHECKER_LENGTH" "1000" }}

[queue.mirror]
LENGTH = {{ getenv "GITEA_QUEUE_MIRROR_LENGTH" "1000" }}

[admin]
DISABLE_REGULAR_ORG_CREATION = {{ getenv "GITEA_ADMIN_DISABLE_REGULAR_ORG_CREATION" "false" | conv.ToBool }}
DEFAULT_EMAIL_NOTIFICATIONS = {{ getenv "GITEA_ADMIN_DEFAULT_EMAIL_NOTIFICATIONS" "enabled" }}

[security]
INSTALL_LOCK = true
SECRET_KEY = {{ getenv "GITEA_SECURITY_SECRET_KEY" }}
LOGIN_REMEMBER_DAYS = {{ getenv "GITEA_SECURITY_LOGIN_REMEMBER_DAYS" "7" }}
MIN_PASSWORD_LENGTH = {{ getenv "GITEA_SECURITY_MIN_PASSWORD_LENGTH" "8" }}
IMPORT_LOCAL_PATHS = {{ getenv "GITEA_SECURITY_IMPORT_LOCAL_PATHS" "false" | conv.ToBool }}
DISABLE_GIT_HOOKS = {{ getenv "GITEA_SECURITY_DISABLE_GIT_HOOKS" "true" | conv.ToBool }}
PASSWORD_COMPLEXITY = {{ getenv "GITEA_SECURITY_PASSWORD_COMPLEXITY" "off" }}
PASSWORD_HASH_ALGO = {{ getenv "GITEA_SECURITY_PASSWORD_HASH_ALGO" "argon2" }}
CSRF_COOKIE_HTTP_ONLY = {{ getenv "GITEA_SECURITY_CSRF_COOKIE_HTTP_ONLY" "true" | conv.ToBool }}

[service]
ACTIVE_CODE_LIVE_MINUTES = {{ getenv "GITEA_SERVICE_ACTIVE_CODE_LIVE_MINUTES" "180" }}
RESET_PASSWD_CODE_LIVE_MINUTES = {{ getenv "GITEA_SERVICE_RESET_PASSWD_CODE_LIVE_MINUTES" "180" }}
REGISTER_EMAIL_CONFIRM = {{ getenv "GITEA_SERVICE_REGISTER_EMAIL_CONFIRM" "false" | conv.ToBool }}
EMAIL_DOMAIN_WHITELIST = {{ getenv "GITEA_SERVICE_EMAIL_DOMAIN_WHITELIST" }}
DISABLE_REGISTRATION = {{ getenv "GITEA_SERVICE_DISABLE_REGISTRATION" }}
ALLOW_ONLY_EXTERNAL_REGISTRATION = {{ getenv "GITEA_SERVICE_ALLOW_ONLY_EXTERNAL_REGISTRATION" "false" | conv.ToBool }}
REQUIRE_SIGNIN_VIEW = {{ getenv "GITEA_SERVICE_REQUIRE_SIGNIN_VIEW" "false" | conv.ToBool }}
ENABLE_NOTIFY_MAIL = {{ getenv "GITEA_SERVICE_ENABLE_NOTIFY_MAIL" "false" | conv.ToBool }}
ENABLE_REVERSE_PROXY_AUTHENTICATION = {{ getenv "GITEA_SERVICE_ENABLE_REVERSE_PROXY_AUTHENTICATION" "false" | conv.ToBool }}
ENABLE_REVERSE_PROXY_AUTO_REGISTRATION = {{ getenv "GITEA_SERVICE_ENABLE_REVERSE_PROXY_AUTO_REGISTRATION" "false" | conv.ToBool }}
ENABLE_REVERSE_PROXY_EMAIL = {{ getenv "GITEA_SERVICE_ENABLE_REVERSE_PROXY_EMAIL" "false" | conv.ToBool }}
ENABLE_CAPTCHA = {{ getenv "GITEA_SERVICE_ENABLE_CAPTCHA" "false" | conv.ToBool }}
CAPTCHA_TYPE = {{ getenv "GITEA_SERVICE_CAPTCHA_TYPE" "image" }}
DEFAULT_KEEP_EMAIL_PRIVATE = {{ getenv "GITEA_SERVICE_DEFAULT_KEEP_EMAIL_PRIVATE" "false" | conv.ToBool }}
DEFAULT_ALLOW_CREATE_ORGANIZATION = {{ getenv "GITEA_SERVICE_DEFAULT_ALLOW_CREATE_ORGANIZATION" "true" | conv.ToBool }}
DEFAULT_ORG_VISIBILITY = {{ getenv "GITEA_SERVICE_DEFAULT_ORG_VISIBILITY" "true" | conv.ToBool }}
DEFAULT_ORG_MEMBER_VISIBLE = {{ getenv "GITEA_SERVICE_DEFAULT_ORG_MEMBER_VISIBLE" "false" | conv.ToBool }}
DEFAULT_ENABLE_DEPENDENCIES = {{ getenv "GITEA_SERVICE_DEFAULT_ENABLE_DEPENDENCIES" "true" | conv.ToBool }}
ENABLE_USER_HEATMAP = {{ getenv "GITEA_SERVICE_ENABLE_USER_HEATMAP" "true" | conv.ToBool }}
ENABLE_TIMETRACKING = {{ getenv "GITEA_SERVICE_ENABLE_TIMETRACKING" "true" | conv.ToBool }}
DEFAULT_ENABLE_TIMETRACKING = {{ getenv "GITEA_SERVICE_DEFAULT_ENABLE_TIMETRACKING" "true" | conv.ToBool }}
DEFAULT_ALLOW_ONLY_CONTRIBUTORS_TO_TRACK_TIME = {{ getenv "GITEA_SERVICE_DEFAULT_ALLOW_ONLY_CONTRIBUTORS_TO_TRACK_TIME" "true" | conv.ToBool }}
NO_REPLY_ADDRESS = {{ getenv "GITEA_SERVICE_NO_REPLY_ADDRESS" "noreply.%(DOMAIN)s" }}
AUTO_WATCH_NEW_REPOS = {{ getenv "GITEA_SERVICE_AUTO_WATCH_NEW_REPOS" "true" | conv.ToBool }}

[webhook]
QUEUE_LENGTH = {{ getenv "GITEA_WEBHOOK_QUEUE_LENGTH" "1000" }}
DELIVER_TIMEOUT = {{ getenv "GITEA_WEBHOOK_DELIVER_TIMEOUT" "5" }}
SKIP_TLS_VERIFY = {{ getenv "GITEA_WEBHOOK_SKIP_TLS_VERIFY" "false" | conv.ToBool }}
PAGING_NUM = {{ getenv "GITEA_WEBHOOK_PAGING_NUM" "10" }}
ALLOWED_HOST_LIST = {{ getenv "GITEA_WEBHOOK_ALLOWED_HOST_LIST" "external" }}

[mailer]
ENABLED = {{ getenv "GITEA_MAILER_ENABLED" "false" | conv.ToBool }}
SUBJECT_PREFIX = {{ getenv "GITEA_MAILER_SUBJECT_PREFIX" }}
SMTP_ADDR = {{ getenv "GITEA_MAILER_SMTP_ADDR" }}
SMTP_PORT = {{ getenv "GITEA_MAILER_SMTP_PORT" }}
ENABLE_HELO = {{ getenv "GITEA_MAILER_ENABLE_HELO" "true" | conv.ToBool }}
HELO_HOSTNAME = {{ getenv "GITEA_MAILER_HELO_HOSTNAME" }}
FORCE_TRUST_SERVER_CERT = {{ getenv "GITEA_MAILER_FORCE_TRUST_SERVER_CERT" "false" | conv.ToBool }}
USE_CLIENT_CERT = {{ getenv "GITEA_MAILER_USE_CLIENT_CERT" "false" | conv.ToBool }}
CLIENT_CERT_FILE = {{ getenv "GITEA_MAILER_CLIENT_CERT_FILE" }}
CLIENT_KEY_FILE = {{ getenv "GITEA_MAILER_CLIENT_KEY_FILE" }}
FROM = {{ getenv "GITEA_MAILER_FROM" }}
USER = {{ getenv "GITEA_MAILER_USERNAME" }}
PASSWD = {{ getenv "GITEA_MAILER_PASSWORD" }}
SEND_AS_PLAIN_TEXT = {{ getenv "GITEA_MAILER_SEND_AS_PLAIN_TEXT" "false" | conv.ToBool }}
PROTOCOL = {{ getenv "GITEA_MAILER_PROTOCOL" "smtp" }}
SENDMAIL_PATH = {{ getenv "GITEA_MAILER_SENDMAIL_PATH" "sendmail" }}
SENDMAIL_ARGS = {{ getenv "GITEA_MAILER_SENDMAIL_ARGS" }}

[cache]
ADAPTER = {{ getenv "GITEA_CACHE_ADAPTER" "memory" }}
{{- if getenv "GITEA_CACHE_HOST" }}
HOST = {{ getenv "GITEA_CACHE_HOST" }}
{{- end }}
INTERVAL = {{ getenv "GITEA_CACHE_INTERVAL" "60" }}
ITEM_TTL = {{ getenv "GITEA_CACHE_ITEM_TTL" "16h" }}

[session]
PROVIDER = {{ getenv "GITEA_SESSION_PROVIDER" "memory" }}
{{- if getenv "GITEA_SESSION_PROVIDER_CONFIG" }}
PROVIDER_CONFIG = {{ getenv "GITEA_SESSION_PROVIDER_CONFIG" }}
{{- end }}
SESSION_LIFE_TIME = {{ getenv "GITEA_SESSION_SESSION_LIFE_TIME" "86400" }}

[picture]
AVATAR_UPLOAD_PATH = /opt/app/data/avatars
REPOSITORY_AVATAR_UPLOAD_PATH = /opt/app/data/avatars
AVATAR_MAX_WIDTH = {{ getenv "GITEA_PICTURE_AVATAR_MAX_WIDTH" "4096" }}
AVATAR_MAX_HEIGHT = {{ getenv "GITEA_PICTURE_AVATAR_MAX_HEIGHT" "3072" }}
AVATAR_MAX_FILE_SIZE = {{ getenv "GITEA_PICTURE_AVATAR_MAX_FILE_SIZE" "1048576" }}
GRAVATAR_SOURCE = {{ getenv "GITEA_PICTURE_GRAVATAR_SOURCE" "gravatar" }}
DISABLE_GRAVATAR = {{ getenv "GITEA_PICTURE_DISABLE_GRAVATAR" "false" | conv.ToBool }}
ENABLE_FEDERATED_AVATAR = {{ getenv "GITEA_PICTURE_ENABLE_FEDERATED_AVATAR" "false" | conv.ToBool }}

[attachment]
ENABLED = {{ getenv "GITEA_ATTACHMENT_ENABLED" "true" | conv.ToBool }}
PATH = /opt/app/data/attachments
ALLOWED_TYPES = {{ getenv "GITEA_ATTACHMENT_ALLOWED_TYPES" "image/jpeg|image/png|application/zip|application/gzip" }}
MAX_SIZE = {{ getenv "GITEA_ATTACHMENT_MAX_SIZE" "5" }}
MAX_FILES = {{ getenv "GITEA_ATTACHMENT_MAX_FILES" "5" }}

[log]
ROOT_PATH = console
MODE = console
BUFFER_LEN = {{ getenv "GITEA_LOG_BUFFER_LEN" "10000" }}
ROUTER_LOG_LEVEL = {{ getenv "GITEA_LOG_ROUTER_LOG_LEVEL" "Error" }}
ROUTER = console
ENABLE_ACCESS_LOG = {{ getenv "GITEA_LOG_ENABLE_ACCESS_LOG" "false" | conv.ToBool }}
{{- if getenv "GITEA_LOG_ACCESS_LOG_TEMPLATE" }}
ACCESS_LOG_TEMPLATE = {{ getenv "GITEA_LOG_ACCESS_LOG_TEMPLATE" }}
{{- end }}
ACCESS = console
LEVEL = {{ getenv "GITEA_LOG_LEVEL" "Error" }}
STACKTRACE_LEVEL = {{ getenv "GITEA_LOG_STACKTRACE_LEVEL" "None" }}

[log.console]
STDERR = false

[cron]
ENABLED = {{ getenv "GITEA_CRON_ENABLED" "true" | conv.ToBool }}
RUN_AT_START = {{ getenv "GITEA_CRON_RUN_AT_START" "false" | conv.ToBool }}

[cron.update_mirrors]
SCHEDULE = {{ getenv "GITEA_CRON_UPDATE_MIRRORS_SCHEDULE" "@every 10m" }}

[cron.repo_health_check]
SCHEDULE = {{ getenv "GITEA_CRON_REPO_HEALTH_CHECK_SCHEDULE" "@every 24h" }}
TIMEOUT = {{ getenv "GITEA_CRON_REPO_HEALTH_CHECK_TIMEOUT" "60s" }}
ARGS = {{ getenv "GITEA_CRON_REPO_HEALTH_CHECK_ARGS" }}

[cron.check_repo_stats]
RUN_AT_START = {{ getenv "GITEA_CRON_CHECK_REPO_STATS" "true" | conv.ToBool }}
SCHEDULE = {{ getenv "GITEA_CRON_CHECK_REPO_STATS_SCHEDULE" "@every 24h" }}

[cron.archive_cleanup]
ENABLED = {{ getenv "GITEA_CRON_ARCHIVE_CLEANUP_ENABLED" "true" | conv.ToBool }}
RUN_AT_START = {{ getenv "GITEA_CRON_ARCHIVE_CLEANUP_RUN_AT_START" "true" | conv.ToBool }}
SCHEDULE = {{ getenv "GITEA_CRON_ARCHIVE_CLEANUP_SCHEDULE" "@every 24h" }}
OLDER_THAN = {{ getenv "GITEA_CRON_ARCHIVE_CLEANUP_OLDER_THAN" "24h" }}

[cron.sync_external_users]
RUN_AT_START = {{ getenv "GITEA_CRON_SYNC_EXTERNAL_USERS_RUN_AT_START" "false" | conv.ToBool }}
SCHEDULE = {{ getenv "GITEA_CRON_SYNC_EXTERNAL_USERS_SCHEDULE" "@every 24h" }}
UPDATE_EXISTING = {{ getenv "GITEA_CRON_SYNC_EXTERNAL_USERS_UPDATE_EXISTING" "true" | conv.ToBool }}

[cron.update_migration_post_id]
SCHEDULE = {{ getenv "GITEA_CRON_UPDATE_MIGRATION_POST_ID_SCHEDULE" "@every 24h" }}

[git.timeout]
DEFAULT = {{ getenv "GITEA_GIT_TIMEOUT_DEFAULT" "360" }}
MIGRATE = {{ getenv "GITEA_GIT_TIMEOUT_MIGRATE" "600" }}
MIRROR = {{ getenv "GITEA_GIT_TIMEOUT_MIRROR" "300" }}
CLONE = {{ getenv "GITEA_GIT_TIMEOUT_CLONE" "300" }}
PULL = {{ getenv "GITEA_GIT_TIMEOUT_PULL" "300" }}
GC = {{ getenv "GITEA_GIT_TIMEOUT_GC" "60" }}

[mirror]
DEFAULT_INTERVAL = {{ getenv "GITEA_MIRROR_DEFAULT_INTERVAL" "8h" }}
MIN_INTERVAL = {{ getenv "GITEA_MIRROR_MIN_INTERVAL" "10m" }}

[lfs]
PATH = /opt/app/data/lfs

[api]
ENABLE_SWAGGER = {{ getenv "GITEA_API_ENABLE_SWAGGER" "true" | conv.ToBool }}
MAX_RESPONSE_ITEMS = {{ getenv "GITEA_API_MAX_RESPONSE_ITEMS" "50" }}
DEFAULT_PAGING_NUM = {{ getenv "GITEA_API_DEFAULT_PAGING_NUM" "30" }}
DEFAULT_GIT_TREES_PER_PAGE = {{ getenv "GITEA_API_DEFAULT_GIT_TREES_PER_PAGE" "1000" }}
DEFAULT_MAX_BLOB_SIZE = {{ getenv "GITEA_API_DEFAULT_MAX_BLOB_SIZE" "10485760" }}

[oauth2]
ENABLED = {{ getenv "GITEA_OAUTH2_ENABLED" "true" | conv.ToBool }}
ACCESS_TOKEN_EXPIRATION_TIME = {{ getenv "GITEA_OAUTH2_ACCESS_TOKEN_EXPIRATION_TIME" "3600" }}
REFRESH_TOKEN_EXPIRATION_TIME = {{ getenv "GITEA_OAUTH2_REFRESH_TOKEN_EXPIRATION_TIME" "730" }}
INVALIDATE_REFRESH_TOKENS = {{ getenv "GITEA_OAUTH2_INVALIDATE_REFRESH_TOKENS" "false" | conv.ToBool }}
JWT_SIGNING_ALGORITHM = {{ getenv "GITEA_OAUTH2_JWT_SIGNING_ALGORITHM" "RS256" }}
JWT_SECRET = {{ getenv "GITEA_OAUTH2_JWT_SECRET" }}

[oauth2_client]
USERNAME = {{ getenv "GITEA_OAUTH2_CLIENT_USERNAME" "nickname" }}
{{- if getenv "GITEA_OAUTH2_CLIENT_OPENID_CONNECT_SCOPES" }}
OPENID_CONNECT_SCOPES = {{ getenv "GITEA_OAUTH2_CLIENT_OPENID_CONNECT_SCOPES" }}
{{- end }}
UPDATE_AVATAR = {{ getenv "GITEA_OAUTH2_CLIENT_UPDATE_AVATAR" "false" | conv.ToBool }}
ACCOUNT_LINKING = {{ getenv "GITEA_OAUTH2_CLIENT_ACCOUNT_LINKING" "login" }}

{{- if eq (getenv "GITEA_U2F_ENABLED") "true" | conv.ToBool }}
[U2F]
APP_ID = {{ getenv "GITEA_U2F_APP_ID" }}
TRUSTED_FACETS = {{ getenv "GITEA_U2F_TRUSTED_FACETS" }}

{{- end }}
[highlight.mapping]
{{- range split (getenv "GITEA_HIGHLIGHT_MAPPING") "," }}
{{ . }}
{{- end }}

[other]
SHOW_FOOTER_BRANDING = {{ getenv "GITEA_OTHER_SHOW_FOOTER_BRANDING" "false" | conv.ToBool }}
SHOW_FOOTER_VERSION = {{ getenv "GITEA_OTHER_SHOW_FOOTER_VERSION" "false" | conv.ToBool }}
SHOW_FOOTER_TEMPLATE_LOAD_TIME = {{ getenv "GITEA_OTHER_SHOW_FOOTER_TEMPLATE_LOAD_TIME" "false" | conv.ToBool }}

[markup.asciidoc]
ENABLED = {{ getenv "GITEA_MARKUP_ASCIIDOC_ENABLED" "true" | conv.ToBool }}
FILE_EXTENSIONS = {{ getenv "GITEA_MARKUP_ASCIIDOC_FILE_EXTENSIONS" ".adoc,.asciidoc" }}
RENDER_COMMAND = `{{ getenv "GITEA_MARKUP_ASCIIDOC_RENDER_COMMAND" "asciidoc --out-file=- -" }}`
IS_INPUT_FILE = {{ getenv "GITEA_MARKUP_ASCIIDOC_IS_INPUT_FILE" "false" | conv.ToBool }}

[metrics]
ENABLED = {{ getenv "GITEA_METRICS_ENABLED" "false" | conv.ToBool }}
TOKEN = {{ getenv "GITEA_METRICS_TOKEN" }}

[task]
{{- if getenv "GITEA_TASK_QUEUE_CONN_STR" }}
QUEUE_CONN_STR = "{{ getenv "GITEA_TASK_QUEUE_CONN_STR" }}"
{{- end }}
